<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.adibalwani.trickiestpart">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="edu.neu.madcourse.adibalwani.trickiestpart.action.LAUNCH_IT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".DribbleActivity" />
        <activity android:name=".ShootActivity"></activity>
    </application>

</manifest>
